.idea/
.DS_Store
*.log
node_modules
package-lock.json
.npm
.nyc_output
.dockerignore
.*.dockerfile
lib/
package.json.lerna_backup
/*.iml
tsconfig.tsbuildinfo
coverage

docs/.vitepress/dist
docs/.vitepress/cache

# For testing nested workspaces does not have the package's dependencies name in the scope
!**/config-lerna-scopes/fixtures/nested-workspaces/**/node_modules
