version: 2.1

commands:
  install:
    steps:
      - run:
          name: Install dependencies
          command: yarn install --ignore-engines
  audit:
    steps:
      - run:
          name: Audit dependencies
          command: yarn audit
  build:
    steps:
      - run:
          name: Build packages
          command: yarn build
  lint:
    steps:
      - run:
          name: Lint project
          command: yarn lint
  deps:
    steps:
      - run:
          name: Check dependencies
          command: yarn deps
  test:
    steps:
      - run:
          name: Test
          command: yarn test
  run-node-6:
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
      - install
      - build
      - lint
      - deps
      - test
      - save-cache
  run-node:
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
      - install
      - audit
      - build
      - lint
      - deps
      - test
      - save-cache
  save-cache:
    steps:
      - save_cache:
          key: v{{ .Environment.CIRCLE_CACHE_VERSION }}-{{ arch }}-npm-lock-{{ .Branch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules

jobs:
  node-v6:
    docker:
      - image: node:6
    steps:
      - run-node-6
  node-v8:
    docker:
      - image: node:8
    steps:
      - run-node
  node-v10:
    docker:
      - image: node:10
    steps:
      - run-node

workflows:
  node-multi-build:
    jobs:
      - node-v6
      - node-v8
      - node-v10
