version: 2.1

orbs:
  win: circleci/windows@5.0.0

commands:
  update-yarn:
    steps:
      - run:
          name: Node version
          command: node -v
      - run:
          name: Update yarn
          command: yarn global add yarn@latest
  install:
    steps:
      - run:
          name: Install dependencies
          command: yarn install --ignore-engines --frozen-lockfile
  audit:
    steps:
      - run:
          name: Audit dependencies
          command: yarn audit
  build:
    steps:
      - run:
          name: Build packages
          command: yarn build
  lint:
    steps:
      - run:
          name: Lint project
          command: yarn lint
  format:
    steps:
      - run:
          name: Format project
          command: yarn format
  deps:
    steps:
      - run:
          name: Check dependencies
          command: yarn deps
  test:
    steps:
      - run:
          name: Test
          command: yarn test-ci
  save-cache:
    steps:
      - save_cache:
          key: v{{ .Environment.CIRCLE_CACHE_VERSION }}-{{ arch }}-npm-lock-{{ .Branch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
  run-all:
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
      - update-yarn
      - install
      - save-cache
      - build
      - lint
      - format
      - deps
      - test
  run-tests:
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
      - update-yarn
      - install
      - save-cache
      - build
      - test
jobs:
  v14:
    docker:
      - image: node:14-buster
    steps:
      - run-tests
  v16:
    docker:
      - image: node:16-buster
    steps:
      - run-tests
  v18:
    docker:
      - image: node:18-buster
    steps:
      - run-tests
  windows:
    executor:
      name: win/default
    steps:
      - run-tests

workflows:
  node:
    jobs:
      - v14
      - v16
      - v18
      - windows
