name: CI

on:
  push:
    branches:
      - "**"
  pull_request:
    types: [opened, synchronize]

  workflow_dispatch:

  # to execute once a day (more info see https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule )
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-2022]
        node: [20, 22]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ matrix.node }}
          cache: yarn

      - name: Install dependencies
        run: yarn install --ignore-engines --frozen-lockfile

      - name: Build packages
        run: yarn build

      - name: Test
        run: yarn test

  codeQuality:
    name: Code quality
    needs: [build]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20
          cache: yarn

      - name: Install dependencies
        run: yarn install --ignore-engines --frozen-lockfile

      - name: Check format
        run: yarn format || (yarn format-fix; git diff --exit-code)

      - name: Lint
        run: yarn lint

  nodeJsBaselineAptCompatibility:
    name: NodeJS installed from stock Ubuntu-LTS packages (not external sources)
    runs-on: ubuntu-24.04
    container:
      image: "ubuntu:24.04"
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install dependencies
        run: |
          apt update --yes

          # NOTE: do not change the below with an `actions/setup-node` step! or it
          # would make this CI job entirely pointless
          apt install --yes npm

          npm install --global yarn
          yarn install

      - name: Print versions
        run: node --version && npm --version && yarn --version

      - name: Build
        run: yarn build

      - name: Run Tests
        run: yarn test
